<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aaliyah Hänni</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

</head>
<body>
<!-- Header -->
<div class="header">
    <div class="row">
        <img src = "../static/img/Logo.PNG" style="width: 50px">
        <h3 style="padding-top: 4px"> Aaliyah Hänni </h3>
    </div>
</div>

<!-- Navigation Bar -->
<div class="topnav">
	<a href="/home">Home</a>
	<a href="/portfolio">Portfolio</a>
    <a href="/resume">Experience</a>
	<a class="active" href="/contact">Contact</a>
</div>

<h2 align="center"> Contact Details</h2>

<!-- Main Content-->
<div class="border">
<div class="content" align="left">
    <div>
        <h1 align="center">Aaliyah Hänni</h1>
        <p align="center">
            Thank you for reviewing my personal website! Please feel free to get in touch.
            <br/>
            <br/>
            <a href="../static/docs/Aaliyah_Hänni_Resume.pdf">Résumé</a></br>
            Personal: aaliyahfiala42@gmail.com | (971) 331-1486</br>
            Work: ahanni@jhkelly.com | (360) 838-3614</br>
            <a href="../static/docs/Aaliyah_Hänni_Resume.pdf">Résumé</a></br>
            <a href="www.linkedin.com/in/aaliyah-hänni">LinkedIn</a></br>
           <a href="https://github.com/aaliyahfiala42">GitHub</a></br>
        </p>
        </br>
    </div>
</div>
</div>

</br>
</br>

    <div align="center"><img src = "../static/img/asimov.jpg" ></div>

<!-- Footer -->
<div class="footer">
    <img src = "../static/img/Logo.PNG" style="width: 50px">
    <h3 style="font-weight: bold">Aaliyah Hänni</h3>
    <p> aaliyahfiala42@gmail.com | (971) 331-1486</p>
    <a href="https://www.linkedin.com/in/aaliyah-h%C3%A4nni"><img src = "../static/img/linkedin.jpg" style="width: 48px"></a>
    <a href="https://github.com/aaliyahfiala42"><img src = "../static/img/github.jpg" style="width: 30px"></a>
</div>
</body>
</html>
