<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

</head>
<body>
<!-- Header -->
<div class="header">
    <div class="row">
        <img src = "../static/img/Logo.PNG" style="width: 50px">
        <h3 style="padding-top: 4px"> Aaliyah Hänni </h3>
    </div>
</div>

<!-- Navigation Bar -->
<div class="topnav">
	<a href="/home">Home</a>
	<a href="/portfolio">Portfolio</a>
    <a href="/resume">Résumé</a>
	<a class="active" href="/contact">Contact</a>
</div>

<h1 align="center"> Contact </h1>

<!-- Main Content-->
<div class="border">
<div class="content" align="left">
    <div>
        <h1>Contact Me</h1>
                </br>
        <p align="left">
            Personal: aaliyahfiala42@gmail.com | (971) 331 1486<br />
            Work: ahanni@jhkelly.com | (360) 838 3614<br />
          <a href="www.linkedin.com/in/aaliyah-hänni"> LinkedIn </a> <br />
          <a href="https://github.com/aaliyahfiala42"> Github </a><br />
        </p>
    </div>
</div>
</div>

</br>
</br>
<!-- Footer -->
<div class="footer">
    <img src = "../static/img/Logo.PNG" style="width: 50px">
    <p style="font-weight: bold">Aaliyah Hänni</p>
    <p>P: 360 838 3614</p>
    <p>E: aaliyahfiala42@gmail.com</p>
</div>
</body>
</html>
