<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

</head>
<body>
<!-- Navigation Bar -->
<div class="topnav">
  <a href="/about">About</a>
  <a href="/portfolio">Portfolio</a>
  <a href="/resume">Résumé</a>
  <a class="active" href="/contact">Contact</a>
</div>

<h1 align="center"> Contact </h1>

<!-- Main Content-->


<p> Work: ahanni@jhkelly.com | (360) 838 3614<br />
  Personal: aaliyahfiala42@gmail.com | (971) 331 1486<br />
  www.linkedin.com/in/aaliyah-hänni
</p>

</body>
</html>
