<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Aaliyah Hänni</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">

    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">
</head>

<body>
<!-- Navigation Bar -->
<div class="header">
    <div class="row">
        <img src = "../static/img/Logo.PNG" style="width: 50px">
        <h3 style="padding-top: 4px"> Aaliyah Hänni </h3>
    </div>
</div>

<div class="topnav">
	<a class="active" href="/home">Home</a>
	<a href="/portfolio">Portfolio</a>
    <a href="/resume">Résumé</a>
	<a href="/contact">Contact</a>
</div>

</br>
</br>
<!-- Main Content-->
<div class="border">

<div align="center">
    <div class="content">
    <div class="row">
        <div class="column">
            <h1 style="padding-top: 10%;"> Hi, I'm Aaliyah Hänni </h1>
            <h3> Student, Data Analyst, and aspiring Data Scientist </h3>
            </br>
            <p> I am currently a graduate student in the Masters of Science in Data Science program at the Univeristy of Washington. I also a Data Analyst for JH Kelly, LLC, an industrial general contractor. </p>
        </div>
        <div class="column">
            <img src = "../static/img/Headshot.jpg">
        </div>
    </div>
    </div>
</div>
</div>

</br>
</br>

<div class="border">
<div class="content" align="center">
  <p> My hobbies include hiking, painting, building robots and models, and recently - sky diving! <br />
    My future career goals are to work with a team that provides data analytics, visualization, and general consulting to projects that improve the environment and society in a sustainable way.
Ideally this goal would encompass and allow me to expand upon the skills I have learned in mathematics, statistics, and programming.
	</p>
</div>
</div>
</div>

<div align="center">
	<img src = "../static/img/Mt Rainier.jpg"  width="20%" style="padding-top: 30px">
  <p>Climbing to the top of Mt. Rainier with my husband, Markus Hänni</p>
</div>

<div align="center">
	<img src = "../static/img/Sky Diving.jpg"  width="20%" style="padding-top: 30px">
  <p>My first dive last summer!</p>
</div>

<div class="footer">
    <img src = "../static/img/Logo.PNG" style="width: 50px">
</div>

</body>
</html>
