<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

</head>
<body>
  <!-- Navigation Bar -->
  <div class="topnav">
  	<a href="/about">About</a>
  	<a class="active" href="/portfolio">Portfolio</a>
    <a href="/resume">Résumé</a>
  	<a href="/contact">Contact</a>
  </div>

<h1 align="center"> Portfolio </h1>

<!-- Main Content-->



</body>
</html>
