<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

</head>
<body>
<!-- Navigation Bar -->
<div class="topnav">
  <a href="/about">About</a>
  <a href="/portfolio">Portfolio</a>
  <a class="active"  href="/resume">Résumé</a>
  <a href="/contact">Contact</a>
</div>

<h1 align="center"> Résumé </h1>

<!-- Main Content-->
<a href="../Aaliyah_Hänni_Resume.pdf">Download Resume</a>


</body>
</html>
