<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Aaliyah Hänni</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

</head>
<body>
<!-- Header -->
<div class="header">
    <div class="row">
        <img src = "../static/img/Logo.PNG" style="width: 50px">
        <h3 style="padding-top: 4px"> Aaliyah Hänni </h3>
    </div>
</div>
<!-- Navigation Bar -->
<div class="topnav">
	<a href="/home">Home</a>
	<a href="/portfolio">Portfolio</a>
    <a class="active" href="/resume">Experience</a>
	<a href="/contact">Contact</a>
</div>
<h2 align="center"> Experience </h2>

<!-- Main Content-->
<h3 align="center"><a href="../static/docs/Aaliyah_Hänni_Resume.pdf">Download Resume</a></h3>
</br>
<div class="border">
<div class="content" align="left">
    <div>
        <h1>Education</h1>
            <h3>Master of Science in Data Science </h3>
                <p><em>University of Washington, Seattle, WA</em></p>
                <p>Graduated: June 2022</p>
                <ul>
                    <li>
                        Research: AI Fashion Textile Pattern Generation & Applications, supervised by Dr. Tatiana Teppeova 
                    </li>
                    <li>
                        <p>Science & Engineering Business Association Vice President of Relations</p>
                    </li>
                </ul>
        </br>
            <h3>Bachelor of Science in Mathematics, <em>Magna Cum Laude</em></h3>
                <p><em>Oregon State University, Corvallis, OR</em></p>
                <p>Graduated: Decemeber 2019</p>
                <ul>
                    <li>
                        <p>Minors: Computer Science and Statistics </p>
                    </li>
                    <li>
                        <p>
                            Research: Generating Euler Totient Function using Sturmian Words, supervised by Professor Daniel Rockwell
                        </p>
                    </li>
                    <li>
                        <p>The National Society of Leadership and Success Member Outreach Coordinator</p>
                    </li>
                   <li>
                        <p>Member of Torch & Laurel Honors Society</p>
                    </li>
                </ul>
        </br>
        <h3>High School Diploma</h3>
        <p><em>Portland Community College, Portland, OR</em></p>
        <p>Graduated: August 2016</p>
        <ul>
            <li>
                <p>Presidents' List</p>
            </li>
        </ul>
</br>
        <figure align="center">
            <img src = "../static/img/Graduation.jpg" style="width: 40%">
            <figcaption><p>Graduation Day</p></figcaption>
        </figure>
    </div>

</div>
</div>

</br>
</br>

<div class="border">
<div class="content" align="left">
    <div>
        
        <h1>Experience</h1>
            <h3>Data Scientist</h3>
                <p><em>University of Washington Academic Experience Design & Delivery, Seattle, WA</em> </p>
                <p>Septempber 2021 - September 2022</p>
                <ul>
                    <li><p>Developed a machine learning algorithm in Python to predict risk level of students being put on academic probation to provide faculty and staff the opportunity to proactively reach out to students</p></li>
                    <li><p>Collaborated in designing course and program recommendations for students                    </p></li>
                    <li><p>Generated a natural language processing model to detect offensive language and hate speech in over 3.5 million course evaluations</p></li>
                </ul>
            </br>
            <h3>IT Business Analyst</h3>
                <p><em>JH Kelly, Seattle, WA</em></p>
                <p>April 2019 - June 2022</p>
                <ul>
                    <li><p>Regularly met with Sr. Executives and other stakeholders, to gather business requirements for new development and analytical projects, as well as providing weekly status updates for ongoing projects </p></li>
                    <li><p>Developed modules for internally created software, managed Atlassian tools such as Confluence and Jira to communicate requirements, document processes, and streamline communication across the team</p></li>
                    <li><p>Created over 100 company dashboards using Tableau & PowerBI data modeling software to present big data sets to provide actionable insights for leadership</p></li>
                    <li><p>Led multiple training sessions for 300+ participants, including physical and virtual attendees to review new softwares and technologies</p></li>
                    <li><p>Designed over 300 accounting, management, and other department reports using SAS Report Builder and SAP Crystal Reports </p></li>
                </ul>
            </br>
            <h3>College of Science Peer Mentor</h3>
                <p><em>Oregon State University College of Science, Corvallis, OR</em></p>
                <p>June 2018 - June 2019</p>
                <ul>
                    <li><p>Performed data entry and analysis on various projects using Excel, communicated feedback in structured reports including detailed recommendations </p></li>
                    <li><p>Assisted students with academic advising questions, getting involved with research, and resume/cover letter editing </p></li>
                    <li><p>Planned and executed over 10 campus events for hundreds of students, focused on connecting students with campus resources and building a stronger sense of community </p></li>
                </ul>
            </br>
    </div>
</div>
</div>
</br>
</br>

<div class="border">
    <div class="content" align="left">
        <div>
            <h1>Research Experience</h1>
                <h3>Data Lead</h3>
                    <p><em>OneCourt, University of Washington, Seattle, WA</em></p>
                    <p>December 2021 - Present</p>
                    <ul>
                        <li><p>
                            Developing long short-term memory, U-Net, and multi-frame convolutional neural network models to optimized inference and accuracy for tracking sports data in in-person sporting events
                        </p></li>
                        <li><p>
                            Coordinate with engineering and networking teams to deliver and test models with various physical prototype devices
                        </p></li>
                    </ul>
            </br>
                <h3>Computer Vision Researcher</h3>
                    <p><em>SparkTube, Zürich, Switzerland</em></p>
                    <p>June 2022 - Present</p>
                    <ul>
                        <li><p>Collaborating to train various models using the YouTube 8M dataset, to segment and summarize video clips into chapters</p></li>
                    </ul>
            </br>
                <h3>Machine Learning Developer</h3>
                    <p><em>AI Fashion: Textile Pattern Generation & Application, University of Washington, Seattle WA </em></p>
                    <p>September 2021 - July 2022</p>
                    <ul>
                        <li><p>
                            Developed and compared performance of 5 generative adversarial network architecture models trained to generate textile patterns and shapes
                        </p></li>
                        <li><p>
                            Created a Django application hosted on AWS for users to test out various AI generated clothing patterns on selected items, or their own uploaded images
                        </p></li>
                    </ul>
            </br>
                <h3>Research Assistant</h3>
                    <p><em>Department of Mathematics, Oregon State University, Corvallis, OR</em></p>
                    <p>September 2018 - December 2019</p>
                    <ul>
                        <li><p>
                            Identified a new way to generate Euler's phi function using sturmian words, using an algorithm that had a lower computational complexity than previous methods
                        </p></li>
                        <li><p>
                            Published findings in the Encyclopedia of Natural Numbers (Sum of Totient function)
                        </p></li>
                    </ul>
            </br>
        </div>
    </div>
    </div>
    </br>
    </br>


    <div class="border">
        <div class="content" align="left">
            <div>
                <h1>Teaching Experience</h1>
                    <h3>Undergraduate Teaching Assistant</h3>
                        <p><em>Department of Mathematics, Oregon State University, Corvallis, OR</em></p>
                        <p>September 2019 - December 2019</p>
                        <ul>
                            <li><p>
                                Graded and provided feedback for approximately 500 assignments and tests
                            </p></li>
                            <li><p>
                                Tutored undergraduate students in weekly office hours on mathematics concepts
                            </p></li>
                        </ul>
                    </br>
                    <h3>Faculty Student Peer Mentor</h3>
                        <p><em>College of Science, Oregon State University, Corvallis, OR</em></p>
                        <p>September 2018 - August 2019</p>
                        <ul>
                            <li><p>Organized task lists and designated goals for biweekly meetings between peers and faculty members</p></li>
                            <li><p>Facilitated tutoring sessions for 5 peers weekly on mathematics, general science, and computer science undergraduate coursework </p></li>
                        </ul>
                    </br>
                    <h3>Mathematics and Science Tutor</h3>
                        <p><em>Portland Community College, Portland, OR </em></p>
                        <p>September 2015 - August 2017</p>
                        <ul>
                            <li><p>
                                Tutored 100+ undergraduate students weekly in elementary and advanced mathematics, general chemistry and general biology                            
                            </p></li>
                        </ul>
                    </br>
                    <h3>Calculus I Lab Assistant</h3>
                        <p><em>Portland Community College, Portland, OR</em></p>
                        <p>March 2016 - June 2016</p>
                        <ul>
                            <li><p>
                                Led lab sessions to 30+ students, providing summary lectures on general concepts and delivering small group assignments
                            </p></li>
                            <li><p>
                                Tutored 100+ students individually and in small groups on calculus based concepts
                            </p></li>
                        </ul>
                </br>
            </div>
        </div>
        </div>
        </br>
        </br>

<div class="border">
<div class="content" align="left">
    <div>
        <h1>Volunteer Experience</h1>
            <h3>Web Developer</h3>
                <p><em>Cowlitz Youth Soccer Association, Kelso, WA</em></p>
                <p>October 2022 - Present</p>
                <ul>
                    <li><p>Develop and maintain a Node.js website hosted on AWS for the purpose of advertising, informing and registering for youth soccer camp</p></li>
                </ul>
        </br>
            <h3>Vice President of Relations</h3>
                <p><em>Science & Engineering Business Association (SEBA)</em></p>
                <p>June 2021 - October 2022</p>
                <ul>
                    <li><p>Represent SEBA to outside organizations and companies, and at events throughout the year,
                        functions as a liaison between SEBA and the community, including both groups and departments
                        within the university as well as external organizations and company partners </p></li>
                    <li><p>Responsible for maintaining SEBA's ongoing relationships and pursuing new
                        partnerships </p></li>
                    <li><p>Lead organizer for the Science and Technology Showcase (STS), done in collaboration with the
                        Buerk center for entrepreneurship, which provides students with an opportunity to present and
                        pitch their technology projects</p></li>
                </ul>
        </br>
            <h3>Ford Scholarship Lead Peer Mentor</h3>
                <p><em>Oregon State University, Corvallis, OR</em></p>
                <p>September 2018 - April 2019</p>
                <ul>
                    <li><p>Organized bimonthly campus events for over 80 students aimed on building stronger mentor
                        and mentee relationships</p></li>
                    <li><p>Advised over 30 mentors on how to better serve their mentees </p></li>
                </ul>
        </br>
            <h3>College of Science Faculty Student Peer Mentor</h3>
                <p><em>Oregon State University, Corvallis, OR</em></p>
                <p>June 2018 - June 2019</p>
                <ul>
                    <li><p>Coordinated biweekly meeting between peers and faculty members</p></li>
                    <li><p>Created task lists for each meeting</p></li>
                    <li><p>Tutored peers weekly on subjects of Math, Science, and Computer Science coursework </p></li>
                </ul>
        </br>
            <h3>Member Outreach Coordinator</h3>
                <p><em>The National Society of Leadership and Success, Corvallis, OR</em></p>
                <p>September 2017 - June 2019</p>
                <ul>
                    <li><p>
                        Recruited and oversaw the Membership Outreach Committee, facilitated biweekly meetings, and created plans to connect with current members and establish relationships with future members
                    </p></li>
                </ul>
        </br>
        <h3>Math Circus Volunteer</h3>
            <p><em>Math Circus Project</em></p>
            <p>September 2018 - June 2019</p>
            <ul>
                <li><p>Participated in 10+ elementary school events, giving demonstrations to children using interactive mathematical tools</p></li>
                <li><p>Designed 3D printed stereographic projection spheres to demonstrate how a sphere projects a square grid on the plane when a light source hit the north pole</p></li>
            </ul>
    </br>
    </div>
</div>
</div>
</br>
</br>


<div class="border">
    <div class="content" align="left">
        <div>
            <h1>Presentations</h1>
                <h3>AI Fashion: Textile Pattern Generation & Applications
                </h3>
                    <p><em>Microsoft AI & ML Community</em></p>
                    <p>June 2022</p>
                    <ul>
                        <li><p>
                            Presented virtually to 150+ members of the Microsoft AI & ML Community the results of using generative adversarial networks to generate patterns for fashion items in both the physical and virtual worlds                        </p></li>
                    </ul>
            </br>
                <h3>OneCourt</h3>
                    <p><em>Logic20/20 Social Entrepreneurship Presentation</em></p>
                    <p>September 2022</p>
                    <ul>
                        <li>
                            <p>
                                Summary of presentation was published in the article “Student Entrepreneurs From OneCourt Reimagine Accessibility” by Logic20/20
                            </p>
                        </li>
                    </ul>

                    <p><em>Foster School of Business Dempsey Startup Competition, University of Washington</em></p>
                    <p>June 2022</p>
                    <ul>
                        <li>
                            <p>
                                Awarded $10,000 WRF Capital Third Place Prize                            </p>
                        </li>
                        <li>
                            <p>
                                Referenced in publication “Fishery monitoring software wins $25K at Univ. of Washington student startup competition” by GeekWire 
                            </p>
                        </li>
                    </ul>

                    <p><em>Social Venture Plan Competition, Seattle Pacific University </em></p>
                    <p>April 2022</p>
                    <ul>
                        <li>
                            <p>
                                Awarded $2,000 honorable mention prize
                            </p>
                        </li>
                    </ul>
            </br>
                <h3>An Algorithmic Approach to Generating A Specific Infinite Binary Tree</h3>
                    <p><em>OSU Celebrating Undergraduate Excellence Research Fair</em></p>
                    <p>September 2019 - June 2019</p>
                    <ul>
                        <li><p>
                            Presented research results to an audience of 100+ faculty members and students
                        </p></li>
                    </ul>
            </br>
        </div>
    </div>
    </div>
    </br>
    </br>

<div class="border">
<div class="content" align="left">
    <div>
        <h1>Awards, Honors, and Scholarships</h1>
        <h3>Awards and Honors</h3>
        <ul>
            <li> <p>Science & Engineering Business Association Induction, September 2021</p></li>
            <li> <p>Oregon State University Honor Roll, September 2017 - August 2018</p> </li>
            <li> <p>Joel Davis Award for Excellence in Mathematics, April 2019</p> </li>            
            <li> <p>JH Kelly Leadership Achievement Award, February 2020</p> </li>
            <li> <p>National Society of Leadership and Success Induction, May 2018 </p></li>
            <li> <p>Portland Community College Presidents' List, September 2014 - August 2016 </p></li>
            <li> <p>Oregon State Representative of the National Academy of Future Physicians and Medical Scientists, 
                Jun 2016</p></li>
        </ul>
        <h3>Scholarships</h3>
        <ul>
            <li>
                <p>Ford Family Foundation Scholarship - Graduate</p>
                <ul>
                    <li><p>University of Washington, September 2019 - June 2022</p></li>
                    <li><p>Full Tuition</p></li>
                </ul>

            </li>
            <li>
                <p>Ford Family Foundation Scholarship</p>
                <ul>
                    <li><p>Oregon State University, September 2017 - December 2019</p></li>
                    <li><p>Full Tuition</p></li>
                </ul>
            </li>
            <li>
                <p>Gateway to College Scholarship</p>
                <ul>
                    <li><p>Portland Community College, September 2014 - August 2016</p></li>
                    <li><p>Full Tuition</p></li>
                </ul>
            </li>
        </ul>
        </br>
    </div>

</div>
</div>

</br>
</br>

<div class="border">
<div class="content" align="left">
    <div>
        <h1>Proficiencies</h1>
        <h3>Languages</h3>
            <ul>
                <li><p>English: Native</p></li>
                <li><p>German: Level B1</p></li>
                <li><p>Spanish: Level A2</p></li>
            </ul>

        <h3>Computer Languages</h3>
            <ul>
            <li><p>Proficient in Python, R, C, C++, HTML, CSS, Javascript, SQL</p></li>
            <li><p>Experience with Matlab, Mathematica, LaTeX, Git</p></li>
            <li><p>Familiarity with MASM Assembly, Qiskit</p></li>
            </ul>
        <h3>Databases</h3>
            <ul>
                <li>
                    <p>
                        Experience designing and accessing MySQL, PostGres, Azure SQL, and Access databases
                    </p>
                </li>
            </ul>
        <h3>Software</h3>
            <ul>
            <li><p>Proficient using MS Office Suite, Visual Studios, SQL Studio, PyCharm, Jupyter Notebook,
                Google Colab, Flask Applications</p></li>
            <li><p>Experience using Tableau, Github, Apache Spark</p></li>
            <li><p>Familiarity with Linux, Windows, and Mac</p></li>
            </ul>
        <h3>Machine Learning</h3>
            <ul>
            <li>
                <p>
                    Proficient developing natural language processing, regression, classification, recommendation, and neural network models
                </p>
            </li>
            <li>
                <p>
                    Experience with computer vision modeling, including image segmentation, object detection, classification of images, and image generation                
                </p>
            </li>
            </ul>
        </br>
    </div>

</div>
</div>

</br>
</br>

<!-- Footer -->
<div class="footer">
    <img src = "../static/img/Logo.PNG" style="width: 50px">
    <h3 style="font-weight: bold">Aaliyah Hänni</h3>
    <p> <a href="mailto:aaliyahhanni@gmail.com">aaliyahhanni@gmail.com</a> | (425) 459-7113</p>
    <a href="../static/docs/Aaliyah_Hänni_Resume.pdf"><img src = "../static/img/resume.png" style="width: 25px"></a>
    <a href="https://www.linkedin.com/in/aaliyah-h%C3%A4nni"><img src = "../static/img/linkedin.png" style="width: 25px"></a>
    <a href="https://github.com/aaliyahfiala42"><img src = "../static/img/github.png" style="width: 25px"></a>
</div>
</body>
</html>
